{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <p class="alert alert-danger">{{error}}</p>
            {% endfor %}
        </p>

         <p>
            {{ form.author.label }}<br>
            {{ form.author(class="form-control") }}<br>
            {% for error in form.author.errors %}
                <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            {{ form.type_of_fiction_id.label }}<br>
            {{ form.type_of_fiction_id(class="form-control") }}<br>
            {% for error in form.type_of_fiction_id.errors %}
                <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            {{ form.genre_id.label }}<br>
            {{ form.genre_id(class="form-control") }}<br>
            {% for error in form.type_of_fiction_id.errors %}
                <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            {{ form.publish_year.label }}<br>
            {{ form.publish_year(class="form-control") }}<br>
            {% for error in form.publish_year.errors %}
                <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            {{ form.path_to_file.label }}<br>
            {{ form.path_to_file(class="form-control") }}<br>
            {% for error in form.path_to_file.errors %}
                <p class="alert alert-danger" role="alert">{{ error }}</p>
            {% endfor %}
        </p>

        <p>
            {{ form.submit(type="submit", class="btn btn-primary") }}
        </p>

        {{ message }}
    </form>
{% endblock %}